*{
    margin: 0;
    padding: 0;

}
body::before {
    content: "";
    background-image: url("img4.jpg");
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat:repeat-y;
    background-position: center;
    background-size: 100%;
    z-index: -1;
    opacity: .4;
}
body::after {
    content: "";
    background-color: grey;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat:repeat-y;
    background-position: center;
    background-size: 100%;
    z-index: -1;
    opacity: .5;
}
.container{
    padding: 50px 50px;
}
.container h1{
    font-size: 3.5rem;
}

.content{
    position: relative;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-span{
    margin-bottom: 20px;
    width: 70%;
    display: flex;
    justify-content: center;
}
.task-input{
    outline: none;
    width: 65%;
    margin: 0 10px;
    font-size: 18px;
    border: 0px;
    border-radius: 5px;
    padding: 5px 12px;
}
.add-btn{
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 30px;
    margin: 0 10px;
    background-color: #24dca8aa;
}
.add-btn:hover {
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 30px;
    margin: 0 10px;
    background-color: #00b481d8;
    transition: 0.3s;
}
.mode{
    background-color: black;
    color: white;
}

.done-btn{
    background-color: transparent;
}
.done-btn-toggle{
    background-color: green;
}
.edit-card {
    padding: 20px;
    background-color: aliceblue;
    width: 50%;
    height: 55vh;
    position: absolute;
    right: 25%;
    top: 25%;
    border-radius: 20px;
    display:none;
}
.card{
    display: flex;
    flex-direction: column;
}
.card .edit-input{
    height: 45vh;
    background-color: aliceblue;
    border: none;
    border-bottom:1px solid black;
    font-size: 18px;
    outline: none;    
}

.edit-btns{
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}
.edit-btns .save-btn{
    background-color: #49ad91;
}
.edit-btns .Cancel-btn{
    background-color: red;
}
.edit-btns button{
    border-radius: 5px;
    padding: 5px 20px;
    border: 1px solid black;
}
.li-item{
    margin-top: 8px;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.show-task{
    width: 69%;
    padding: 5px 10px;
}
.li-span{
    border-bottom: 1px solid black;
    width: 55%;
    padding: 5px 15px;
    font-size: 18px;
    word-wrap: break-word;
    border-radius: 5px;
    margin-right: 10px;
    
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style:italic;
    font-weight: bold;
    font-size: 25px;
   
}
.btns{
    height: 35px;
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    font-size: 18px;
}
.task-done{
    /* size: 15px; */
    height: 18px;
    width: 18px;
    margin: 5px;
}
